{% extends 'base.html' %}
{% block content %}
<div class='content'>
<h2>New Post:</h2>
<form method='POST'>
    <div>
    <label>
        Title: 
        <input type="text" name='title' value = '{{post_title}}' placeholder = 'Type your title here!' />
    </label>
    <p id='error'>{{title_error}}</p>
    </div>
    <div>
    <label>
        <textarea id='post_body' name='body' placeholder = 'Type your post here!'>{{ post_body }}</textarea>
    </label>
    <p id='error'>{{body_error}}</p>
    </div>
    <div>
    <input type='submit' value='Make Post' />
    </div>
</form>
</div>

{% endblock %}