{% extends "base.html" %}

{% block content %}
    <div class='content'>
        <h1>Sign Up</h1>
        <table>
        <form action='/signup' method='POST'>
            <tr>
                <td>
                    <label>
                        Username:
                        <input type='text' name='username' value='{{username}}' />
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <label>
                        Password*:
                        <input type='password' name='password' />
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <label>
                        Confirm Password*:
                        <input type='password' name='verify' />
                    </label>
                </td>
            </tr>

            <tr>
                <td>
                    <input type='submit' value='signup' />
                </td>
            </tr>
        </form>
        </table>
    </div>
{% endblock %}