{% extends 'base.html' %}

{% block content %}
    <div class='content'>
    <h1>{{username}}'s Blog</h1>

    {% if posts|length == 0 %}

        <p>Nothing here yet!</p>

    {% else %}

        {% for post in posts %}

            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
            <p>Published on {{post.date}}</p>

        {% endfor %}
    
    {% endif %}
    </div>

    <div id="pagination">
        {%- for page in pagination.iter_pages() %}
            {% if page == pagination.page %}
                {{ page }}
            {% else %}
                <a href="{{ url_for('blog', page = page) }}">{{ page }} </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}