
.error { 
    color: red ;
    font-style: italic;
}

.content {
    max-width: 1000 px;
    margin: auto;
    width: 50%;
}

.list {
    list-style: none;
}

#pagination {
    margin: auto;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 100px;
    font-size: xx-large;
}

#post_body {
    resize: none;
    width: 300%;
    height: 200px;
}